// compileCompressed: style.css
//

body {
    font-family: 'Poppins', sans-serif;

    #page {
        height: 100vh;
    }
    h1 {
        text-shadow: 2px 2px #9fa4c494;
        font-size: 48px;
        font-weight: bold;
        color: #0f1c64;
        padding-bottom: 36px;
        padding-top: 36px;
    }

    .btn-primary {
        background-color: #0f1c64;
        font-weight: 600;
    }
}

.grid-header {
    

    #middle-col {
        
        margin-top: 20px;

        .form-check-input  {
            margin-right: 20px;
        }
        
       .form-check-label {
           color: #9fa4c4;
           text-shadow: 1px 1px #0f1c6481;
           font-size: 20px;
           font-weight: bold;
        }
        :hover {
            color: #0f1c64;

       }
    }
}

.map-section {
    

    .leaflet-popup-content {
        font-size: 18px;
        color: #0f1c64;
    }
    :hover {
        color: #0f1c64;
    }
    #col-map {
        margin: 0 auto; 

    }

    #map {
        height: 500px;
        width: 100%;
        border: 2px solid #f2f3fc;
        
        
    }
}

.form-section {
     
    
    .form-control {
        border: 0px solid #fff;
    }

    .accordion-button {
        font-size: 28px;
        font-weight: bold;
        color: #0f1c64;
        padding-bottom: 36px;
        padding-top: 36px;
        padding-left: 44px;
    }

    .accordion-button:not(.collapsed) {
        color: #0f1c64;
        background-color: #f2f3fc57;
        
        
        
    }
    .accordion-button:focus {
        color: #0f1c64;
        border-color: #d5d5d5 !important;
    }

    .form-check-label {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .taxi-select {
        border: 0px solid #fff;
        padding-left: 50px;
        color: #9fa4c4;
        font-size: 22px;
    }
}

.toast {
    position: fixed;
    right: 15px;
    top: 40px;
}



section {
    position: relative;
}

.form-switch {
    margin: 40px 0 20px;
}

.leaflet-marker-icon {
    &.color {
        background-color: #000;
        padding: 0;
        height: 40px !important;
        width: 40px !important;
        padding: 5PX;
        object-fit: contain;
        border-radius: 50%;

        &.White {
            background-color: #fff;
        }

        &.Yellow {
            background-color: yellow;
        }

        &.Blue {
            background-color: blue;
        }

        &.Green {
            background-color: green;
        }

        &.Red {
            background-color: red;
        }
    }
}
